.NE-search {
  
  &_form {
    background-color: $base-color-light;
    padding: 10px 5px;
    position: relative;
		margin: auto;
		text-align: center;
    div {
      margin: 5px;
      padding: 3px;
    }
    .query {
      border: 2px solid $base-color-dark;
      font-family: Junicode;
      font-size: 18px;
      height: 30px;
      width: 280px;
    }
    .searchButton {
      border: 2px solid $base-color-dark;
      background: $base-color-middle;
      color: $base-color-light;
      height: 40px !important;
      width: 60px !important;
      &:hover {
        cursor: pointer;
      }
      input {
        display: none;
      }
    }
    label {
      margin: 5px;
      margin-right: 10px;
      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  &_resultsInfo {
    margin: 5px;
    text-align: center;
    font-weight: bold;
  }

  &_results {
    display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
  }

  &_result {
    border: 1px solid $base-color-light;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    .resultTitle {
      margin-bottom: 8px;
    }
    .langs {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    .link {
      text-decoration: underline;
      &:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
    ul {
      list-style-type: none;
      padding-left: 12px;
      &.main-list {
        margin-top: 6px;
        margin-bottom: 12px;
      }
    }
    .openList:hover {
      cursor: pointer;
    }
    .list {
      display: none;
      &.open {
        display: block;
      }
    }
  }
}