.NE-search {
  
  &_form {
    background-color: $base-color-light;
    padding: 10px 5px;
    position: relative;
		margin: auto;
		text-align: center;
    div {
      margin: 5px;
      padding: 3px;
    }
    .query {
      border: 2px solid $base-color-dark;
      font-family: Junicode;
      font-size: 18px;
      height: 30px;
      width: 280px;
    }
    .searchButton {
      border: 2px solid $base-color-dark;
      background: $base-color-middle;
      color: $base-color-light;
      height: 30px;
      width: 50px;
      &:hover {
        cursor: pointer;
      }
    }
    label {
      margin: 5px;
      margin-right: 10px;
      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  &_results {
    .resultInfo {
      margin: 5px;
      text-align: center;
      font-weight: bold;
    }
    &> div:not(.resultInfo) {
      display: flex;
    }
  }

  &_result {
    border: 1px solid $base-color-light;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    .link {
      text-decoration: underline;
      &:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
    ul {
      list-style-type: none;
    }
    .openList:hover {
      cursor: pointer;
    }
    .list {
      display: none;
      &.open {
        display: block;
      }
    }
  }

  &_no-results {
    margin: 5px;
    text-align: center;
    font-weight: bold;
  }
}