<div class="NE-search">
  <div class="NE-search_form">
    <div>
      <label>
          <span translate="NAMED_ENTITIES.SEARCH.FORM.TEXT"></span>
          <input type="radio" value="text" ng-model="vm.field">
        </label>
        <label>
          <span translate="NAMED_ENTITIES.SEARCH.FORM.REF"></span>
          <input type="radio" value="ref" ng-model="vm.field">
        </label>
    </div>
    <div>
      <input type="text" ng-model="vm.inputValue" autocomplete="off" autofocus>
      <button
        ng-click="search()" translate="NAMED_ENTITIES.SEARCH.FORM.SEARCH"></button>
    </div>
    <div>
      <span translate="NAMED_ENTITIES.SEARCH.FORM.LANG"></span>
      <label ng-repeat="lang in vm.langs._indexes track by $index">
        {{lang}}
        <input type="checkbox" ng-checked="vm.langs[lang]" ng-model="vm.langs[lang]" ng-click="selectLang()"/>
      </label>
      <label>
        <span translate="NAMED_ENTITIES.SEARCH.FORM.ALL"></span>
        <input type="checkbox" ng-click="selectAllLangs($event)"/>
      </label>
    </div>
  </div>
  <div ng-if="vm.resultsAvailable">
    <div class="NE-search_result" ng-repeat="result in vm.results">
        <ng-container ng-if="checkLangs([result])">
          <div ng-if="result._result !== result._ref">{{result._result}}</div>
          <div ng-click="openNamedEntity(result._ref)">{{result._ref}}</div>
          <div ng-repeat="lang in result._langs">
            <ng-container ng-if="vm.langs[lang]">
              <p>{{ 'NAMED_ENTITIES.SEARCH.RESULT.LANG' | translate:{lang:lang, forms:result[lang]._indexes.length} }}</p>
              <ul>
                <li ng-repeat="form in result[lang]._indexes">
                  {{form}}
                  <ul ng-repeat="doc in result[lang][form].docsId">
                    <span translate="NAMED_ENTITIES.SEARCH.RESULT.DOCS"></span>
                    <li>
                      <span class="docLink" ng-click="goToDiv(doc)">{{result[lang][form].docs[doc].label}}</span>
                      <ul ng-repeat="div in result[lang][form].docs[doc].divs track by $index">
                        <span translate="NAMED_ENTITIES.SEARCH.RESULT.DIVS"></span>
                        <li class="divLink" ng-click="goToDiv(doc, result[lang][form].docs[doc].divsId[$index])">{{div}}</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </ng-container>
          </div>
        </ng-container>
      </div>
  </div>
  <div ng-if="!vm.resultsAvailable">
    <span translate="NAMED_ENTITIES.SEARCH.RESULT.NORESULTS"></span>
  </div>
</div>