<div>
  <p>
    <label>
      Cerca forme
      <input type="radio" value="text" ng-model="vm.field">
    </label>
    <label>
      Cerca forma normalizzata
      <input type="radio" value="ref" ng-model="vm.field">
    </label>
    <input type="text" ng-model="vm.inputValue" autocomplete="off" autofocus>
    <button
      ng-click="search()">Cerca forme</button>
  </p>
  <div ng-repeat="result in vm.results">
    <div ng-if="result._result !== result._ref">{{result._result}}</div>
    <div ng-click="openNamedEntity(result._ref)">{{result._ref}}</div>
    <div ng-repeat="lang in result._langs">
      <p>{{lang + ' (' + result[lang]._indexes.length + ' forme)'}} </p>
      <ul>
        <li ng-repeat="form in result[lang]._indexes">
          {{form}}
          <ul ng-repeat="doc in result[lang][form].docsId">
            <li>{{result[lang][form].docs[doc].label}}
              <ul ng-repeat="div in result[lang][form].docs[doc].divs track by $index">
                <span ng-click="openDiv(result[lang][form].docs[doc].divsId[$index])">{{div}}</span>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
</div>