<div class="NE-search">
  <div class="NE-search_form">
    <div>
      <input class="query" type="text" ng-model="vm.inputValue" autocomplete="off" autofocus>
      <button class="searchButton"
        ng-click="search()" title="{{ 'NAMED_ENTITIES.SEARCH.FORM.SEARCH' | translate }}">
        <i class="fa fa-search"></i>
      </button>
    </div>
    <div>
      <label>
          <input type="radio" value="text" ng-model="vm.field">
          <span translate="NAMED_ENTITIES.SEARCH.FORM.TEXT"></span>
        </label>
        <label>
          <input type="radio" value="ref" ng-model="vm.field">
          <span translate="NAMED_ENTITIES.SEARCH.FORM.REF"></span>
        </label>
    </div>
    <div>
      <span translate="NAMED_ENTITIES.SEARCH.FORM.LANG"></span><br>
      <label ng-repeat="lang in vm.langs._indexes track by $index">
        <input type="checkbox" ng-checked="vm.langs[lang]" ng-model="vm.langs[lang]" ng-click="selectLang()"/>
        {{lang}}
      </label>
      <label>
        <input type="checkbox" ng-click="selectAllLangs($event)"/>
        <span translate="NAMED_ENTITIES.SEARCH.FORM.ALL"></span>
      </label>
    </div>
  </div>
  <div ng-if="vm.resultsAvailable" class="NE-search_results">
    <div class="NE-search_result" ng-repeat="result in vm.results">
        <ng-container ng-if="checkLangs([result])">
          <div class="link resultTitle" ng-click="openNamedEntity(result._ref)" title="{{ 'NAMED_ENTITIES.SEARCH.RESULT.REF' | translate }}">{{result._result}}</div>
          <div ng-repeat="lang in result._langs">
            <ng-container ng-if="vm.langs[lang]">
              <p>{{ 'NAMED_ENTITIES.SEARCH.RESULT.LANG' | translate:{lang:lang, forms:result[lang]._indexes.length} }}</p>
              <ul>
                <li ng-repeat="form in result[lang]._indexes">
                  <i ng-click="openList($event)" class="openList fa fa-caret-right" title="{{ 'NAMED_ENTITIES.SEARCH.RESULT.DOCS' | translate }}"></i> {{form}}
                  <ul class="docsList" ng-repeat="doc in result[lang][form].docsId">
                    <li>
                      <i ng-click="openList($event)" class="openList fa fa-caret-right" title="{{ 'NAMED_ENTITIES.SEARCH.RESULT.DIVS' | translate }}"></i>
                      <span class="link" ng-click="goToDiv(doc)">{{result[lang][form].docs[doc].label}}</span>
                      <ul class="divsList" ng-repeat="div in result[lang][form].docs[doc].divs track by $index">
                        <li class="link" ng-click="goToDiv(doc, result[lang][form].docs[doc].divsId[$index])">{{div}}</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </ng-container>
          </div>
        </ng-container>
      </div>
  </div>
  <div ng-if="!vm.resultsAvailable" class="NE-search_no-results">
    <span translate="NAMED_ENTITIES.SEARCH.RESULT.NORESULTS"></span>
  </div>
</div>